.skills {
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin-top: 40px;
}

.skills h3 {
  text-align: center;
  margin: 80px 0px 65px 0px;
}

.my-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.skills-des {
  width: 40%;
  text-align: justify;
  font-size: 21px;
}

.about-skills {
  padding-top: 30px;
  width: 600px;
}

.about-skills button {
  display: inline-block;
  margin: .3125rem .3125rem .3125rem 0;
  padding: .3125rem .625rem;
  font-size: .8125rem;
  font-weight: 600;
  background: #000;
  color: #fff;
  border-radius: .25rem;
}

.about-skills button:hover {
  background: crimson;
}

.page-header {
  font-size: 26px;
  text-align: center;
  margin: 80px 0px 65px 0px;
}